@import '../globals/variables';

.SharkBtnContainer {
  display: flex;
  justify-content: center;
}

.SharkAttackBtn {
  background-color: $accentColor;
  color: $primaryColor;
  border-radius: 5px;
  height: 75px;
  border: none;
  margin: 25px 0px;
  padding: 10px;
  font-weight: bold;
  font-size: 28px;
}