.GraveYard {
    background-image: url(https://i.pinimg.com/originals/57/3d/2e/573d2e5265d5c2588fcdf3805adb84cb.jpg);
}

.BelovedStudentContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px 75px;
}

.GraveYardHeader {
    margin-top: 15px;
}