.SharkTankContainer {
    background-image: url(https://i.pinimg.com/originals/3a/77/e7/3a77e791117f2d2a0272c4ebedfe196f.gif);
    background-size: min($numbers: 1500px);
    background-repeat: repeat;
}

.LiveStudentContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 25px 55px 0px 55px;
}